<h1> Welcome to Lobby {{id}} - {{count}}</h1>
<h2>Game Status: {{status}}</h2>
<!-- Display countdown timer -->
<h3 *ngIf="countdown$">Countdown: {{ countdown$ | async }} seconds</h3>

<button (click)="onBack()"> Back </button>

<chat></chat>
{{lobby.players}}

<div *ngIf="lobby.players">
    <h2>Players in Lobby</h2>
    <ul>
        <li *ngFor="let player of players">
            <span [ngStyle]="{ 'color': player.color, 'font-weight': player.id === playerId ? 'bold' : 'normal'}">
                {{ player.name }}
            </span>
        </li>
    </ul>
</div>